.app-container .content-container .side-menu .navbar-header .navbar-brand img {
  height: auto;
}

.btn-failed {
  background: #FA2A00;
}

.btn-none {
  background: #AAA;
}

.btn-success {
  background: #2ecc71;
}

.btn-in-progress {
  background: #22A7F0;
}

