.btn {
  &-failed {
    background: $brand-danger;
  }
  &-none {
    background: $brand-inactive;
  }
  &-success {
    background: $brand-success;
  }
  &-in-progress {
    background: $brand-primary;
  }
}
.page-subtitle {
  display: inline-block;
  font-size: 18px;
  line-height: 43px;
  margin-top: 3px;
  color: #555;
  position: relative;
  font-weight: 700;
  margin-right: 20px;
}
